[client]
# The client section is read by mycli and all MySQL applications.

# Default connection information
user = debian-sys-maint
host = localhost
password = password
port = 3306

# Use the UTF-8 character set
# default-character-set = utf-8

# Turn on the LOAD DATA INFILE statement
# local-infile = on

# Another local infile alias.
# Use it if the previous one clashes with other MySQL tools.
# loose-local-infile = on

# Configure the pager
# pager = 'vim -'
